* {
  background-color: black;
  color: white;
  box-sizing: content-box;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

body {
  max-width: 80%;
  margin: 2% 10%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

/* table of contents css */
#toc-container li a:hover {
  background-color: red;
  padding: .2%;
}

#toc-container li {
  padding: .3%;
}

/* notes css */

h2 {
  font-size: 1.5rem;
  background-color: red;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1rem;
  text-decoration: underline;
}

li {
  font-size: 0.9rem;
}

code, pre {
  background-color: aliceblue;
  color: black;
  padding: 0.2rem;
  display: inline-block;
  white-space: pre-line;
  margin: .3rem;
}

span {
  background-color: rgb(253, 250, 249);
  color: black;
}
